.DS_Store
BioMistral-7B/
v_llm/llama.cpp-temp/
v_llm/biomistral_clinical_lora_v2*/
v_llm/biomistral_clinical_lora_v2_merged*/
*.gguf
*.safetensors
.env
venv/
v_llm/src/guideline_resolver.py
v_llm/src/main2.py
v_llm/src/ollama2.py
